allow recovery adb_keys_file:dir { getattr open read search };
allow recovery ashmem_device:chr_file execute;
allow recovery audioserver_data_file:dir { getattr open read search };
allow recovery bootchart_data_file:dir { getattr open read };
allow recovery bootstat_data_file:dir { getattr read open search };
allow recovery bootstat_data_file:file getattr;
allow recovery boottrace_data_file:dir { getattr open read search };
allow recovery block_device:dir { add_name write remove_name };
allow recovery block_device:file { create open read unlink write };
allow recovery block_device:lnk_file { create rename };
allow recovery bluetooth_data_file:dir { getattr open read search };
allow recovery bluetooth_data_file:file getattr;
allow recovery bluetooth_logs_data_file:dir { getattr open read search };
allow recovery bluetooth_prop:file { getattr open };
allow recovery boottime_prop:file { getattr open };
allow recovery cache_file:dir mounton;
allow recovery ctl_bootanim_prop:file { getattr open };
allow recovery ctl_bugreport_prop:file { getattr open };
allow recovery ctl_console_prop:file { getattr open };
allow recovery ctl_dumpstate_prop:file { open getattr };
allow recovery ctl_fuse_prop:file { getattr open };
allow recovery ctl_interface_restart_prop:file { getattr open };
allow recovery ctl_interface_start_prop:file { getattr open };
allow recovery ctl_interface_stop_prop:file { getattr open };
allow recovery ctl_mdnsd_prop:file { getattr open };
allow recovery ctl_restart_prop:file { getattr open };
allow recovery ctl_rildaemon_prop:file { getattr open };
allow recovery ctl_sigstop_prop:file { getattr open };
allow recovery ctl_start_prop:file { getattr open };
allow recovery ctl_stop_prop:file { getattr open };
allow recovery default_prop:property_service set;
allow recovery device_logging_prop:file { getattr open };
allow recovery dhcp_data_file:dir { getattr open read search };
allow recovery dumpstate_options_prop:file { getattr open };
allow recovery firstboot_prop:file { getattr open };
allow recovery gatekeeper_data_file:dir { getattr open read search };
allow recovery gatekeeper_data_file:file getattr;
allow recovery hwservice_contexts_file:file getattr;
allow recovery incident_data_file:dir { getattr read open search };
allow recovery init_exec:file getattr;
allow recovery keychain_data_file:dir { getattr open read search };
allow recovery keychain_data_file:file getattr;
allow recovery keystore_data_file:dir { getattr open read search };
allow recovery keystore_data_file:file getattr;
allow recovery last_boot_reason_prop:file { open getattr };
allow recovery logpersistd_logging_prop:file { getattr open };
allow recovery lowpan_prop:file { getattr open };
allow recovery media_data_file:dir { getattr open read search };
allow recovery media_rw_data_file:dir { getattr search open read add_name create write };
allow recovery method_trace_data_file:dir { getattr open read search };
allow recovery misc_logd_file:dir { getattr open read search };
allow recovery misc_logd_file:file getattr;
allow recovery misc_user_data_file:dir { getattr read open search };
allow recovery mmc_prop:file { getattr open };
allow recovery net_data_file:dir { getattr open read search };
allow recovery net_data_file:file getattr;
allow recovery net_dns_prop:file { getattr open };
allow recovery netd_stable_secret_prop:file { open getattr };
allow recovery network_watchlist_data_file:dir { getattr read open search };
allow recovery network_watchlist_data_file:file getattr;
allow recovery nonplat_service_contexts_file:file getattr;
allow recovery overlay_prop:file { getattr open };
allow recovery perfprofd_data_file:dir { getattr open read search };
allow recovery persistent_properties_ready_prop:file { getattr open };
allow recovery profman_dump_data_file:dir { getattr open read search };
allow recovery radio_data_file:dir { getattr open read search };
allow recovery radio_data_file:file getattr;
allow recovery recovery_data_file:dir { getattr open read search };
allow recovery recovery_data_file:file { getattr };
allow recovery rootfs:dir { add_name remove_name write create };
allow recovery rootfs:file { create write };
allow recovery rootfs:fifo_file { unlink getattr write create open read };
allow recovery rootfs:lnk_file { create unlink };
allow recovery safemode_prop:file { getattr open };
allow recovery seapp_contexts_file:file getattr;
allow recovery self:capability fsetid;
allow recovery self:netlink_kobject_uevent_socket read;
allow recovery self:process execmem;
allow recovery selinuxfs:file write;
allow recovery sepolicy_file:file getattr;
allow recovery service_contexts_file:file getattr;
allow recovery shared_relro_file:dir { getattr open read search };
allow recovery shared_relro_file:file getattr;
allow recovery shell_data_file:dir { getattr read open search };
allow recovery sysfs:dir { open read };
allow recovery sysfs:file { getattr open read write };
allow recovery system_boot_reason_prop:file { getattr open };
allow recovery system_data_file:dir { open read };
allow recovery systemkeys_data_file:dir { getattr open read search };
allow recovery test_boot_reason_prop:file { open getattr };
allow recovery textclassifier_data_file:dir { getattr open read search };
allow recovery textclassifier_data_file:file getattr;
allow recovery tmpfs:fifo_file { open read create getattr };
allow recovery trace_data_file:dir { getattr read open search };
allow recovery traced_enabled_prop:file { getattr open };
allow recovery unencrypted_data_file:dir { search getattr };
allow recovery unencrypted_data_file:file { getattr open read };
allow recovery update_engine_data_file:dir { getattr open read search };
allow recovery update_engine_log_data_file:dir { getattr open read search };
allow recovery user_profile_data_file:dir { getattr open read search };
allow recovery user_profile_data_file:file getattr;
allow recovery vold_data_file:dir { getattr open read search };
allow recovery vold_data_file:file getattr;
allow recovery vold_prop:property_service set;
allow recovery vndservice_contexts_file:file getattr;
allow recovery vpn_data_file:dir { getattr open read search };
allow recovery wifi_data_file:dir { getattr open read search };
allow recovery wifi_data_file:file getattr;
allow recovery wifi_prop:file { getattr open };
allow recovery wpa_socket:dir { getattr read open search };
