allow vendor_init kernel:system module_request;
allow vendor_init proc_max_map_count:file write;
allow vendor_init selinuxfs:file write;
allow vendor_init kernel:security setcheckreqprot;
allow vendor_init rootfs:dir { write add_name create setattr };
