allow untrusted_app proc_qtaguid_stat:file { read open getattr };
allow untrusted_app proc_zoneinfo:file { read open getattr };
allow untrusted_app sysfs_switch:dir search;
