allow untrusted_app_27 proc_zoneinfo:file r_file_perms;

# Allow 3rd party apps to know that we have hidden the navbar
allow untrusted_app_27 serialno_prop:file r_file_perms;
